<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <!-- uso de interpolacion {{ esteEsUnaInterpolacion }} -->
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <!-- uso de interpolacion con un metodo -->
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!-- uso de interpolacion con get -->
  <dd>{{ capitalizedName }}</dd>
</dl>

<button class="btn btn-primary mx-2" (click)="changeHero()">Cambiar Nombre</button>
<button class="btn btn-primary" (click)="changeAge()">Cambiar Edad</button>